/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Post Byline
  7.2. Members Subscribe Form
  7.4. Related Posts
  7.5. Koenig Styles
  7.6  Comments
8.  Author Template
9.  Error Template
11. Site Footer
12. Dark Mode

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-green: #a4d037;
    --color-yellow: #fecd35;
    --color-red: #f05230;
    --color-darkgrey: #15171A;
    --color-midgrey: #738a94;
    --color-lightgrey: #f1f1f1;
    --color-secondary-text: #979797;
    --color-border: #e1e1e1;
    --color-wash: #e5eff5;
    --color-darkmode: #151719;

    /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variable throughout your styles
     */

    /* Fonts */
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "JetBrains Mono", monospace;

}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 max(4vmin, 20px);
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* 7. Single Post
/* ---------------------------------------------------------- */

.article {
    padding: max(8vmin, 40px) 0 max(8vmin, 64px);
    word-break: break-word;
}

.page-template .article {
    padding-top: max(12vmin, 64px);
}

.article-header {
    padding: 0 0 max(6.4vmin, 40px) 0;
}

.page-template .article-header {
    padding-bottom: max(3.2vmin, 28px);
}

.article-tag {
    margin-bottom: 16px;
    font-size: 0.96rem;
}

.article-tag a {
    color: var(--color-secondary-text);
}

.article-title {
    margin-bottom: 0;
    font-size: clamp(1.92rem, 5vw, 3.12rem);
    font-weight: 800;
    line-height: 1.05;
}

.has-serif-title .article-title {
    font-family: var(--font-serif);
}

.article-excerpt {
    margin-top: 20px;
    max-width: 720px;
    font-size: 1.2rem;
    line-height: 1.45;
}

.gh-canvas .article-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: max(6.4vmin, 40px) 0 0;
}

.image-full .article-image {
    grid-column: full-start / full-end;
}

.image-small .article-image {
    grid-column: main-start / main-end;
}

.gh-canvas .article-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width: 767px) {
    .article-excerpt {
        margin-top: 14px;
        font-size: 1.02rem;
    }
}

/* -------- */

/* Content grid
/* ---------------------------------------------------------- */

/* Canvas creates a multi-column, centered grid which the post
is laid out on top of. Canvas just defines the grid, we don't
use it for applying any other styles. */

.gh-canvas {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(max(4vmin, 20px), auto)
            [wide-start]
            minmax(auto, 240px)
                [main-start]
                    min(720px, calc(100% - max(8vmin, 40px)))
                [main-end]
            minmax(auto, 240px)
            [wide-end]
        minmax(max(4vmin, 20px), auto)
        [full-end]
    ;
}

.gh-canvas > * {
    grid-column: main-start / main-end;
}

.kg-width-wide {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}

.kg-width-full img {
    width: 100%;
}


/* Content
/* ---------------------------------------------------------- */

/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

/* Default vertical spacing */
.gh-content > * + * {
    margin-top: max(3.2vmin, 24px);
    margin-bottom: 0;
}

/* [id] represents all headings h1-h6, reset all margins */
.gh-content > [id] {
    margin: 0;
}

.has-serif-title .gh-content > [id] {
    font-family: var(--font-serif);
}

/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
    margin: 2em 0 0;
}

/* Add a small margin between a heading and anything after it */
.gh-content > [id] + * {
    margin-top: 0.9rem !important;
}

/* A larger margin before/after HRs and blockquotes */
.gh-content > hr,
.gh-content > blockquote {
    position: relative;
    margin-top: max(4.8vmin, 32px);
}
.gh-content > hr + *,
.gh-content > blockquote + * {
    margin-top: max(4.8vmin, 32px) !important;
}

/* Now the content typography styles */
.gh-content a {
    color: var(--ghost-accent-color);
    text-decoration: underline;
    word-break: break-word;
}

.gh-content > blockquote:not([class]),
.gh-content > ol,
.gh-content > ul,
.gh-content > dl,
.gh-content > p {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6em;
}

.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul,
.gh-content .kg-toggle-card .kg-toggle-content > p {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.14rem;
    line-height: 1.6em;
}

.gh-content .kg-product-card .kg-product-card-description > p,
.gh-content .kg-product-card .kg-product-card-description > ol,
.gh-content .kg-product-card .kg-product-card-description > ul {
    font-size: 1.02rem;
    line-height: 1.6em;
}

.gh-content .kg-callout-card .kg-callout-emoji {
    font-size: 1.25rem;
    line-height: 1.4em;
}

.gh-content .kg-toggle-card .kg-toggle-heading-text {
    font-size: 1.2rem;
}

.has-sans-body .gh-content > blockquote,
.has-sans-body .gh-content > ol,
.has-sans-body .gh-content > ul,
.has-sans-body .gh-content > dl,
.has-sans-body .gh-content > p,
.has-sans-body .gh-content .kg-callout-card .kg-callout-text,
.has-sans-body .gh-content .kg-toggle-card .kg-toggle-content > ol,
.has-sans-body .gh-content .kg-toggle-card .kg-toggle-content > ul,
.has-sans-body .gh-content .kg-toggle-card .kg-toggle-content > p {
    font-family: var(--font-sans);
}

.gh-content > ul,
.gh-content > ol,
.gh-content > dl,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul,
.gh-content .kg-product-card .kg-product-card-description > ol,
.gh-content .kg-product-card .kg-product-card-description > ul {
    padding-left: 1.9em;
}

.gh-content > blockquote:not([class]) {
    position: relative;
    font-style: italic;
    padding: 0;
}

.gh-content > blockquote:not([class])::before {
    content: "";
    position: absolute;
    left: -1.5em;
    top: 0;
    bottom: 0;
    width: 0.18rem;
    background: rgb(219 39 119);
}

.gh-content :not(pre) > code {
    vertical-align: middle;
    padding: 0.15em 0.4em 0.15em;
    border: #e1eaef 1px solid;
    font-weight: 400 !important;
    font-size: 0.9em;
    line-height: 1em;
    color: #15171A;
    background: #f0f6f9;
    border-radius: 0.25em;
}

.gh-content pre {
    overflow: auto;
    padding: 16px 20px;
    color: var(--color-wash);
    font-size: 0.84rem;
    line-height: 1.5em;
    background: var(--color-darkgrey);
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.4);
}

@media (max-width: 650px) {
    .gh-content > blockquote:not([class]),
    .gh-content > ol,
    .gh-content > ul,
    .gh-content > dl,
    .gh-content > p,
    .gh-content .kg-callout-card .kg-callout-text,
    .gh-content .kg-toggle-card .kg-toggle-content > ol,
    .gh-content .kg-toggle-card .kg-toggle-content > ul,
    .gh-content .kg-toggle-card .kg-toggle-content > p {
        font-size: 1.08rem;
    }

    .gh-content .kg-product-card .kg-product-card-description > p,
    .gh-content .kg-product-card .kg-product-card-description > ol,
    .gh-content .kg-product-card .kg-product-card-description > ul {
        font-size: 0.84rem;
    }

    .gh-content blockquote:not([class])::before {
        left: min(-4vmin, -20px);
    }
}


/* Cards
/* ---------------------------------------------------------- */

/* Cards are dynamic blocks of content which appear within Ghost
posts, for example: embedded videos, tweets, galleries, or
specially styled bookmark links. We add extra styling here to
make sure they look good, and are given a bit of extra spacing. */

/* Add extra margin before/after any cards,
except for when immediately preceeded by a heading */
.gh-content :not(.kg-card):not([id]) + .kg-card {
    margin-top: 6vmin;
    margin-bottom: 0;
}
.gh-content .kg-card + :not(.kg-card) {
    margin-top: 6vmin;
    margin-bottom: 0;
}

/* This keeps small embeds centered */
.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* This keeps small iamges centered */
.kg-image-card img {
    margin: auto;
}

.has-serif-title .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.gh-content .kg-callout-card-accent a {
    text-decoration: underline;
}

.kg-blockquote-alt {
    font-family: var(--font-serif);
    color: var(--color-midgrey);
}

.has-sans-body .kg-blockquote-alt {
    font-family: var(--font-sans);
}

.kg-card.kg-header-card.kg-style-dark {
    background: var(--color-darkgrey);
}

.kg-header-card.kg-style-light h2.kg-header-card-header {
    color: color-mod(var(--color-darkgrey) l(-5%));
}

.has-serif-title .kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
}


/* Captions */
figcaption {
    padding: 0.9rem 0.9rem 0;
    text-align: center;
    font-size: 0.78rem;
    line-height: 1.4em;
}
figcaption strong {

}
figcaption a {
    text-decoration: underline;
}


/* Highly specific styles for traditional Instagram embeds */
iframe.instagram-media {
    margin-top: 6vmin !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
}

iframe.instagram-media + script + :not([id]) {
    margin-top: 6vmin;
}


/* Card captions
/* ---------------------------------------------------------- */

.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
    grid-column: 1 / -1;
}

.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
}

.article-comments {
    margin: 6vmin 0 0 0;
}

/* -----old------ */

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 0.78rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    font-size: 0.72rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Tables */
.gh-content table:not(.gist table) {
    display: inline-block;
    overflow-x: auto;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: var(--font-sans);
    font-size: 0.96rem;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.gh-content table:not(.gist table) td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.gh-content table:not(.gist table) td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.gh-content table:not(.gist table) th {
    font-size: 0.96rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color-mod(var(--color-wash) l(+4%));
}

.gh-content table:not(.gist table) th,
.gh-content table:not(.gist table) td {
    padding: 6px 12px;
    border: color-mod(var(--color-wash) l(-1%) s(-5%)) 1px solid;
}


/* 7.1. Post Byline
/* ---------------------------------------------------------- */

.article-byline {
    display: flex;
    justify-content: space-between;
    margin: min(24px, 5.6vmin) 0 0;
}

.article-byline-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.article-byline-content .author-list {
    justify-content: flex-start;
    padding: 0 14px 0 0;
}

.article-byline-meta {
    color: var(--color-secondary-text);
    font-size: 0.84rem;
    line-height: 1.2em;
}

.article-byline-meta .author-name {
    margin: 0 0 6px;
    font-size: 1.02rem;
    font-weight: 700;
    letter-spacing: 0;
}

.article-byline-meta .bull {
    display: inline-block;
    margin: 0 2px;
}

.author-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: min(56px, 13.6vmin);
    height: min(56px, 13.6vmin);
    border: #fff 2px solid;
    border-radius: 50%;
    background-color: var(--color-border);
}

.page-template .article-title {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .article-byline-content .author-list {
        padding-right: 12px;
    }
    .article-byline-meta .author-name {
        margin-bottom: 4px;
    }
}


/* 12. Dark Mode
/* ---------------------------------------------------------- */

html.dark-mode body {
    color: rgba(255, 255, 255, 0.75);
    background: var(--color-darkmode);
}

html.dark-mode img {
    opacity: 0.9;
}

html.dark-mode kbd {
    background: color-mod(var(--color-darkmode) l(+5%));
}

html.dark-mode figcaption a {
    color: #fff;
}

html.dark-mode .gh-head {
    background: var(--color-darkmode);
    color: #fff;
}

html.dark-mode .gh-burger-box {
    color: #fff;
}

html.dark-mode .site-header-content {
    color: #fff;
}

html.dark-mode .post-card-image {
    background: var(--color-darkmode);
}

html.dark-mode :is(.post-card-tags, .post-card-meta, .article-tag a, .byline-meta-content, .pagination .page-number) {
    color: color-mod(var(--color-secondary-text) l(-22%));
}

html.dark-mode .post-card-featured {
    color: #fff;
}

html.dark-mode .post-card-title {
    color: #fff;
}

html.dark-mode .post-card-excerpt {
    color: var(--color-secondary-text);
}

html.dark-mode .pagination a {
    color: #fff;
}

html.dark-mode .author-profile-location {
    color: #fff;
}

html.dark-mode .author-profile-social-link:hover {
    color: #fff;
}

html.dark-mode .article-title {
    color: #fff;
}

html.dark-mode .article-excerpt {
    color: var(--color-secondary-text);
}

html.dark-mode .post-full-image {
    background-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .author-avatar {
    border-color: var(--color-darkmode);
    background-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .author-profile-image {
    opacity: 1;
}

html.dark-mode .author-profile-image path {
    fill: var(--color-darkmode);
}

html.dark-mode .article-byline-meta .author-name a {
    color: #fff;
}

html.dark-mode .no-image .author-social-link a {
    color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .gh-content > [id] {
    color: rgba(255, 255, 255, 0.9);
}

html.dark-mode .gh-content pre {
    background: color-mod(var(--color-darkgrey) l(-8%));
}

html.dark-mode .gh-content :not(pre) > code {
    background: color-mod(var(--color-darkgrey) l(+6%));
    border-color: color-mod(var(--color-darkmode) l(+8%));
    color: var(--color-wash);
}

:where(html.dark-mode) .gh-content a {
    color: #fff;
}

html.dark-mode .gh-content strong {
    color: #fff;
}

html.dark-mode .gh-content em {
    color: #fff;
}

html.dark-mode .gh-content code {
    color: #fff;
    background: #000;
}

html.dark-mode hr {
    border-top-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .gh-content hr:after {
    background: color-mod(var(--color-darkmode) l(+8%));
    box-shadow: var(--color-darkmode) 0 0 0 5px;
}

html.dark-mode figcaption {
    color: rgba(255, 255, 255, 0.6);
}

html.dark-mode .gh-content table:not(.gist table) td:first-child {
    background-image: linear-gradient(to right, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
}

html.dark-mode .gh-content table:not(.gist table) td:last-child {
    background-image: linear-gradient(to left, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
}

html.dark-mode .gh-content table:not(.gist table) th {
    color: rgba(255, 255, 255, 0.85);
    background-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .gh-content table:not(.gist table) th,
html.dark-mode .gh-content table:not(.gist table) td {
    border: color-mod(var(--color-darkmode) l(+8%)) 1px solid;
}

html.dark-mode .gh-content input {
    color: color-mod(var(--color-midgrey) l(-30%));
}

html.dark-mode .site-archive-header .no-image {
    color: rgba(255, 255, 255, 0.9);
    background: var(--color-darkmode);
}

html.dark-mode .kg-header-card.kg-style-dark {
    background: color-mod(var(--color-darkgrey) l(-5%));
}

html.dark-mode .kg-header-card.kg-style-light {
    background: color-mod(var(--color-darkgrey) l(+5%));
}

html.dark-mode .kg-header-card h2.kg-header-card-header,
html.dark-mode .kg-header-card h3.kg-header-card-subheader {
    color: #fff;
}

html.dark-mode .footer-cta-title {
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    html.auto-color body {
        color: rgba(255, 255, 255, 0.75);
        background: var(--color-darkmode);
    }

    html.auto-color img {
        opacity: 0.9;
    }

    html.auto-color kbd {
        background: color-mod(var(--color-darkmode) l(+5%));
    }

    html.auto-color figcaption a {
        color: #fff;
    }

    html.auto-color .gh-head {
        background: var(--color-darkmode);
        color: #fff;
    }

    html.auto-color .gh-burger-box {
        color: #fff;
    }

    html.auto-color .site-header-content {
        color: #fff;
    }

    html.auto-color .post-card-image {
        background: var(--color-darkmode);
    }

    html.auto-color :is(.post-card-tags, .post-card-meta, .article-tag a, .byline-meta-content, .pagination .page-number) {
        color: color-mod(var(--color-secondary-text) l(-22%));
    }

    html.auto-color .post-card-featured {
        color: #fff;
    }

    html.auto-color .post-card-title {
        color: #fff;
    }

    html.auto-color .post-card-excerpt {
        color: var(--color-secondary-text);
    }

    html.auto-color .pagination a {
        color: #fff;
    }

    html.auto-color .author-profile-location {
        color: #fff;
    }

    html.auto-color .author-profile-social-link:hover {
        color: #fff;
    }

    html.auto-color .article-title {
        color: #fff;
    }

    html.auto-color .article-excerpt {
        color: var(--color-secondary-text);
    }

    html.auto-color .post-full-image {
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .author-avatar {
        border-color: var(--color-darkmode);
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .author-profile-image {
        opacity: 1;
    }

    html.auto-color .author-profile-image path {
        fill: var(--color-darkmode);
    }

    html.auto-color .article-byline-meta .author-name a {
        color: #fff;
    }

    html.auto-color .no-image .author-social-link a {
        color: rgba(255, 255, 255, 0.75);
    }

    html.auto-color .gh-content > [id] {
        color: rgba(255, 255, 255, 0.9);
    }

    html.auto-color .gh-content pre {
        background: color-mod(var(--color-darkgrey) l(-8%));
    }

    html.auto-color .gh-content :not(pre) > code {
        background: color-mod(var(--color-darkgrey) l(+6%));
        border-color: color-mod(var(--color-darkmode) l(+8%));
        color: var(--color-wash);
    }

    :where(html.auto-color) .gh-content a {
        color: #fff;
    }

    html.auto-color .gh-content strong {
        color: #fff;
    }

    html.auto-color .gh-content em {
        color: #fff;
    }

    html.auto-color .gh-content code {
        color: #fff;
        background: #000;
    }

    html.auto-color hr {
        border-top-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .gh-content hr:after {
        background: color-mod(var(--color-darkmode) l(+8%));
        box-shadow: var(--color-darkmode) 0 0 0 5px;
    }

    html.auto-color figcaption {
        color: rgba(255, 255, 255, 0.6);
    }

    html.auto-color .gh-content table:not(.gist table) td:first-child {
        background-image: linear-gradient(to right, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
    }

    html.auto-color .gh-content table:not(.gist table) td:last-child {
        background-image: linear-gradient(to left, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
    }

    html.auto-color .gh-content table:not(.gist table) th {
        color: rgba(255, 255, 255, 0.85);
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .gh-content table:not(.gist table) th,
    html.auto-color .gh-content table:not(.gist table) td {
        border: color-mod(var(--color-darkmode) l(+8%)) 1px solid;
    }

    html.auto-color .gh-content input {
        color: color-mod(var(--color-midgrey) l(-30%));
    }

    html.auto-color .site-archive-header .no-image {
        color: rgba(255, 255, 255, 0.9);
        background: var(--color-darkmode);
    }

    html.auto-color .kg-header-card.kg-style-dark {
        background: color-mod(var(--color-darkgrey) l(-5%));
    }

    html.auto-color .kg-header-card.kg-style-light {
        background: color-mod(var(--color-darkgrey) l(+5%));
    }

    html.auto-color .kg-header-card h2.kg-header-card-header,
    html.auto-color .kg-header-card h3.kg-header-card-subheader {
        color: #fff;
    }

    html.auto-color .footer-cta-title {
        color: #fff;
    }
}

/*

Hey! You reached the end.

Hope you enjoyed this CSS file, if you have any suggestions
for improvements that might be useful for everyone who uses
this theme, you can find the open source repository for it
here: https://github.com/tryghost/casper

Or, if you've just scrolled all the way to the bottom of the
file to add some of your own styles. Well, you've come to
the right place. Onward!

 */

.gh-content ul {
    list-style: disc;
}

.gh-content h2 {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(219 39 119);
}

.gh-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(219 39 119);
}